

.grid-view table a span.glyphicon {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    margin-bottom: 5px;
    margin-right: 5px;
    color: #fff;
    background-color: #fff;
    border: 1px solid #ccc;
}

.grid-view table a span.glyphicon-eye-open {
    background-color: #337ab7;
    border-color: #2e6da4;
}
.grid-view table a span.glyphicon-pencil {
    background-color: #5bc0de;
    border-color: #46b8da;
}
.grid-view table a span.glyphicon-trash {
    background-color: #d9534f;
    border-color: #d43f3a;
}

.branches__image img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.person {
    border: 1px solid #ccc;
}
.page-menu-index .btn {
    margin-bottom: 0px;
}
.page-menu-index tbody > tr > td {
    padding:4px;
}
.page-form .position-item img{
    max-width: 200px;
}
.page-form .position-item, .page-form .position-item__info {
    border: 1px solid #ccc;
}
 ul.gallery li img {
    width: 53px;
}