@charset "UTF-8";

/* Slider */

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */

/* Icons */

@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Arrows */

.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}

[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}

.slick-prev:before {
  content: "←";
}

[dir="rtl"] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}

[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}

.slick-next:before {
  content: "→";
}

[dir="rtl"] .slick-next:before {
  content: "←";
}

/* Dots */

.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-transform: none;
  box-sizing: border-box;
  list-style: none;
  border-radius: 0;
  font-family: 'Montserrat', sans-serif;
  color: #414752;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
}

select,
input,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
}

*:focus {
  outline: transparent;
}

input[type=submit] {
  border: none;
  cursor: pointer;
}

body {
  overflow: hidden auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body.fix {
  height: 100vh;
  overflow: hidden;
}

body footer {
  margin-top: auto;
}

.container {
  width: 90%;
  max-width: 1140px;
  margin: 0 auto;
}

h2 {
  font-size: 36px;
  line-height: 1.22;
  font-weight: 700;
}

h3 {
  font-size: 28px;
  line-height: 1.22;
  font-weight: 700;
}

h4,
h5,
h6 {
  font-size: 24px;
  line-height: 1.22;
  font-weight: 700;
}

p {
  font-size: 16px;
  line-height: 1.25;
}

p a {
  color: #0047FF;
  font-weight: 700;
  font-size: inherit;
}

p a:hover {
  text-decoration: underline;
}

b,
strong {
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  line-height: inherit;
  color: inherit;
}

.btn {
  background: linear-gradient(124.85deg, #5F8BFE 22.33%, #44CFFE 101.29%);
  border-radius: 999px;
  position: relative;
  overflow: hidden;
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  cursor: pointer;
  border: none;
}

.btn:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(124.85deg, #44CFFE 22.33%, #5F8BFE 101.29%);
  z-index: 1;
  opacity: 0;
  transition: 0.4s;
}

.btn p {
  padding: 13px 60px;
  font-size: 22px;
  color: #FFFFFF;
  font-weight: 700;
  position: relative;
  z-index: 2;
  text-align: center;
  font-family: 'Space Mono', monospace;
}

.btn:hover:before {
  opacity: 1;
}

.btn.transparent {
  border: 2px solid #56C5FF;
  background: transparent;
}

.btn.transparent p {
  color: #56C5FF;
  transition: 0.4s;
}

.btn.transparent:hover p {
  color: white;
}

.page-header-inside {
  background-image: url("../img/header-big.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-top: 90px;
  padding-top: 30px;
  padding-bottom: 50px;
}

.page-header-inside .breadcrumbs {
  margin-bottom: 70px;
  display: flex;
  align-items: center;
}

.page-header-inside .breadcrumbs * {
  font-size: 16px;
  color: white;
  padding-left: 5px;
}

.page-header-inside .breadcrumbs *:first-child {
  padding-left: 0;
}

.page-header-inside .breadcrumbs a {
  transition: 0.3s;
}

.page-header-inside .breadcrumbs a:hover {
  color: #111FA0;
}

.page-header-inside .breadcrumbs p {
  font-weight: 700;
}

.page-header-inside h1 {
  font-size: 72px;
  line-height: 1.2;
  font-weight: 900;
  color: white;
}

.txt-content > * {
  margin-bottom: 30px;
}

.txt-content > *:last-child {
  margin-bottom: 0;
}

.txt-content ul li {
  padding-left: 55px;
  position: relative;
  font-size: 16px;
  line-height: 1.25;
  margin-bottom: 25px;
}

.txt-content ul li:last-child {
  margin-bottom: 0;
}

.txt-content ul li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 35px;
  height: 30px;
  background-image: url("../img/check.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.txt-content ol {
  padding-left: 20px;
}

.txt-content ol li {
  list-style: decimal;
  margin-bottom: 15px;
}

.txt-content img {
  max-width: 100%;
  max-height: 500px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 10px;
  box-shadow: 0px 10px 30px #C8D5EB;
}

.alert-success {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  padding: 30px;
  border-radius: 7px;
  z-index: 99;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  width: 90%;
  max-width: 500px;
  background-color: white;
  border: 1px solid #56C5FF;
  box-shadow: 0px 10px 30px #C8D5EB;
}

.alert-success button {
  background-color: white;
  border: 1px solid #56C5FF;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 99px;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transform: translateX(50%) translateY(-50%);
          transform: translateX(50%) translateY(-50%);
}

.alert-success button span {
  display: none;
}

.alert-success button:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
          transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  width: 15px;
  height: 2px;
  background-color: #56C5FF;
}

.alert-success button:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
          transform: translateX(-50%) translateY(-50%) rotate(45deg);
  width: 15px;
  height: 2px;
  background-color: #56C5FF;
}

.review-popup {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  padding: 30px;
  border-radius: 7px;
  z-index: 99;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  width: 90%;
  max-width: 500px;
  background-color: white;
  border: 1px solid #56C5FF;
  box-shadow: 0px 10px 30px #C8D5EB;
}

.review-popup h2 {
  margin-bottom: 30px;
}

.review-popup .exit-btn {
  background-color: white;
  border: 1px solid #56C5FF;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 99px;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transform: translateX(50%) translateY(-50%);
          transform: translateX(50%) translateY(-50%);
}

.review-popup .exit-btn span {
  display: none;
}

.review-popup .exit-btn:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
          transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  width: 15px;
  height: 2px;
  background-color: #56C5FF;
}

.review-popup .exit-btn:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
          transform: translateX(-50%) translateY(-50%) rotate(45deg);
  width: 15px;
  height: 2px;
  background-color: #56C5FF;
}

.footer .top-line {
  background-color: rgba(0, 71, 255, 0.2);
  padding: 50px 0;
}

.footer .top-line .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer .top-line ul {
  display: flex;
  align-items: center;
}

.footer .top-line li {
  margin-right: 50px;
}

.footer .top-line li:last-child {
  margin-right: 0;
}

.footer .top-line a {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.2;
  transition: 0.3s;
}

.footer .top-line a:hover {
  color: #111fa0;
}

.footer .bottom {
  padding: 15px 0;
  background-color: white;
}

.footer .bottom .container {
  display: flex;
  align-items: center;
}

.footer .bottom p {
  font-weight: 300;
  font-size: 16px;
}

.footer .bottom a {
  font-weight: 300;
  font-size: 16px;
  transition: 0.3s;
  display: block;
}

.footer .bottom a svg {
  width: 100%;
  height: 100%;
}

.footer .bottom a svg * {
  fill: #414752;
  transition: 0.3s;
}

.footer .bottom a:hover {
  color: #56C5FF;
}

.footer .bottom a:hover svg * {
  fill: #56C5FF;
}

.footer .bottom .tels {
  display: flex;
  align-items: center;
  position: relative;
  margin-left: auto;
}

.footer .bottom .tels:before {
  content: "";
  position: absolute;
  left: 0;
  top: 8px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 15px;
  height: 15px;
  background-image: url("../img/tel.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.footer .bottom .tels a {
  margin-left: 30px;
}

.footer .bottom .mess {
  display: flex;
  align-items: center;
}

.footer .bottom .mess a {
  margin-left: 15px;
  width: 19px;
  height: 18px;
}

.footer .bottom .mail {
  margin-left: 50px;
  padding-left: 33px;
  position: relative;
}

.footer .bottom .mail:before {
  content: "";
  position: absolute;
  left: 0;
  top: 8px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 18px;
  height: 15px;
  background-image: url("../img/mail.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.footer .bottom .soc {
  display: flex;
  align-items: center;
  margin-left: 50px;
}

.footer .bottom .soc a {
  margin-right: 15px;
  width: 20px;
  height: 20px;
}

.footer .bottom .soc a:last-child {
  margin-right: 0;
}

.header {
  padding: 35px 0 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 99;
  transition: 0.6s;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .menu ul {
  display: flex;
  align-items: center;
}

.header .menu li {
  margin-right: 50px;
}

.header .menu li:last-child {
  margin-right: 0;
}

.header .menu a {
  font-weight: bold;
  font-size: 20px;
  transition: 0.3s;
}

.header .menu a:hover {
  color: #56C5FF;
}

.header .menu #language-menu {
  margin-top: -15px;
  margin-bottom: -15px;
}

.header .menu #language-menu > a {
  display: block;
  color: #56C5FF;
  margin-bottom: 10px;
}

.header .menu-btn {
  display: block;
  width: 40px;
  height: 40px;
  position: relative;
  cursor: pointer;
}

.header .menu-btn span {
  background-color: #414752;
  width: 30px;
  height: 3px;
  border-radius: 9px;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transition: 0.4s;
}

.header .menu-btn span:nth-child(1) {
  -webkit-transform: translateX(-50%) translateY(calc(-50% - 8px));
          transform: translateX(-50%) translateY(calc(-50% - 8px));
}

.header .menu-btn span:nth-child(2) {
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.header .menu-btn span:nth-child(3) {
  -webkit-transform: translateX(-50%) translateY(calc(-50% + 8px));
          transform: translateX(-50%) translateY(calc(-50% + 8px));
}

.header .menu-btn.open span:nth-child(1) {
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
          transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}

.header .menu-btn.open span:nth-child(2) {
  opacity: 0;
}

.header .menu-btn.open span:nth-child(3) {
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
          transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.header.white .menu a {
  color: white;
}

.header.white .menu a:hover {
  color: #111FA0;
}

.header.white .menu #language-menu > a {
  color: #111FA0;
}

.header.open {
  background-color: white;
}

.page-blog {
  padding-bottom: 100px;
  position: relative;
}

.page-blog:before {
  content: "";
  z-index: -1;
  position: absolute;
  right: 0;
  bottom: 170px;
  width: 330px;
  height: 650px;
  background-image: url("../img/deco_in_right.png");
  background-position: right center;
  background-size: contain;
  background-repeat: no-repeat;
}

.page-blog .page-header-inside + section {
  position: relative;
}

.page-blog .page-header-inside + section:before {
  content: "";
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  width: 360px;
  height: 500px;
  background-image: url("../img/deco_in_left.png");
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat;
}

.blog-block h2 {
  padding-top: 100px;
  padding-bottom: 50px;
}

.blog-grid {
  display: flex;
  flex-wrap: wrap;
}

.blog-grid .box {
  background: #FFFFFF;
  box-shadow: 0px 10px 30px #C8D5EB;
  border-radius: 20px;
  padding: 10px;
  width: calc(33.33% - 20px);
  margin-right: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}

.blog-grid .box img {
  width: 100%;
  height: 160px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px 20px 0px 0px;
  display: block;
  margin-bottom: 10px;
}

.blog-grid .box h3 {
  font-size: 20px;
  line-height: 1.15;
  font-weight: 700;
  margin-bottom: 15px;
}

.blog-grid .box > p {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.375;
  margin-bottom: 40px;
}

.blog-grid .box .row {
  margin-bottom: 15px;
}

.blog-grid .box .row p {
  font-size: 14px;
  margin-bottom: 10px;
  line-height: 1;
}

.blog-grid .box .row p:last-child {
  margin-bottom: 0;
}

.blog-grid .box .row span {
  font-size: 14px;
  line-height: 1;
  font-weight: 500;
}

.blog-grid .box .btn {
  width: 100%;
  margin-top: auto;
  border-radius: 20px;
}

.blog-grid .box .btn p {
  padding: 13px;
}

.pagination .container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 70px;
}

.pagination .container ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination .container ul > * {
  width: 40px;
  height: 40px;
  background: #FFFFFF;
  border: 1px solid #56C5FF;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  margin-right: 20px;
}

.pagination .container ul > * a,
.pagination .container ul > * span {
  font-weight: bold;
  font-size: 22px;
  color: #414752;
  position: relative;
  z-index: 2;
  transition: 0.4s;
  font-family: 'Space Mono', monospace;
}

.pagination .container ul > *:last-child {
  margin-right: 0;
}

.pagination .container ul > *:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(124.85deg, #44CFFE 22.33%, #5F8BFE 101.29%);
  z-index: 1;
  opacity: 0;
  transition: 0.4s;
}

.pagination .container .dots {
  font-size: 22px;
  font-weight: bold;
  width: auto;
  border: none;
  margin-left: -5px;
  margin-right: 15px;
  font-family: 'Space Mono', monospace;
}

.pagination .container a:hover:before,
.pagination .container .active:before {
  opacity: 1;
}

.pagination .container a:hover span,
.pagination .container .active span {
  color: white;
}

.content-single {
  padding-top: 100px;
}

.content-single .container {
  padding-right: 360px;
  position: relative;
}

.aside-blog {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aside-blog .date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 99px;
  background-color: rgba(0, 71, 255, 0.2);
}

.aside-blog .date p {
  font-weight: bold;
}

.aside-blog .date p:nth-child(1) {
  font-size: 36px;
  font-family: 'Space Mono', monospace;
}

.aside-blog .date p:nth-child(2) {
  font-size: 20px;
}

.aside-blog a {
  width: 40px;
  height: 35px;
  display: block;
  margin-top: 40px;
}

.aside-blog a svg {
  width: 100%;
  height: 100%;
}

.aside-blog a svg * {
  fill: #414752;
  transition: 0.5s;
}

.aside-blog a:hover svg * {
  fill: #56C5FF;
}

.post-footer {
  padding-top: 100px;
}

.post-footer .share {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.post-footer .share p {
  font-size: 28px;
  font-weight: 700;
}

.post-footer .share a {
  display: block;
  width: 30px;
  height: 23px;
  margin-left: 20px;
}

.post-footer .share a svg {
  width: 100%;
  height: 100%;
}

.post-footer .share a svg * {
  fill: #414752;
  transition: 0.5s;
}

.post-footer .share a:hover svg * {
  fill: #56C5FF;
}

.post-footer .row-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post-footer .row-btns a {
  font-size: 28px;
  font-weight: 700;
  transition: 0.3s;
  position: relative;
}

.post-footer .row-btns a:hover {
  color: #56C5FF;
}

.post-footer .row-btns a:nth-child(1) {
  padding-left: 20px;
}

.post-footer .row-btns a:nth-child(1):before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 12px;
  height: 12px;
  border: 2px solid #56C5FF;
  -webkit-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
  border-bottom: none;
  border-right: none;
}

.post-footer .row-btns a:nth-child(2) {
  padding-right: 20px;
}

.post-footer .row-btns a:nth-child(2):before {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  width: 12px;
  height: 12px;
  border: 2px solid #56C5FF;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
  border-bottom: none;
  border-left: none;
}

.page-history {
  padding-bottom: 80px;
  position: relative;
}

.page-history .content {
  padding-top: 100px;
}

.page-history:before {
  content: "";
  z-index: -1;
  position: absolute;
  right: 0;
  bottom: 170px;
  width: 330px;
  height: 650px;
  background-image: url("../img/deco_in_right.png");
  background-position: right center;
  background-size: contain;
  background-repeat: no-repeat;
}

.page-history .page-header-inside + section {
  position: relative;
}

.page-history .page-header-inside + section:before {
  content: "";
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  width: 360px;
  height: 500px;
  background-image: url("../img/deco_in_left.png");
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat;
}

.page-history .row-flex {
  display: flex;
  align-items: center;
}

.page-history .row-flex .left {
  width: 430px;
  height: 230px;
  margin-right: 45px;
  position: relative;
  box-shadow: none;
  border-radius: 0;
}

.page-history .row-flex .left img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.page-history .row-flex .left:before {
  content: "";
  position: absolute;
  left: 15px;
  bottom: 15px;
  width: 100%;
  height: 100%;
  z-index: -1;
  border: 2px solid #56C5FF;
}

.page-history .row-flex .right {
  width: calc(100% - 430px - 45px);
}

.page-history .row-flex .right li {
  padding-left: 60px;
  margin-bottom: 38px;
}

.page-history .row-flex .right li:last-child {
  margin-bottom: 0;
}

.page-history .row-flex .right li:before {
  width: 30px;
  height: 35px;
  background-image: url("../img/book.png");
}

.page-history .dop-hist {
  padding-top: 70px;
}

.page-history .dop-hist .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-history .dop-hist .container > p {
  font-size: 20px;
  font-weight: 700;
}

.main-screen {
  height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
}

.main-screen:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 380px;
  height: 370px;
  background-image: url("../img/deco_m1.png");
  background-position: left bottom;
  background-size: contain;
  background-repeat: no-repeat;
}

.main-screen .txt {
  max-width: 575px;
  position: relative;
  z-index: 3;
}

.main-screen h1 {
  font-weight: 900;
  font-size: 72px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.main-screen p {
  font-weight: 300;
  font-size: 24px;
  line-height: 1.2;
}

.main-screen .bg {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  z-index: 1;
}

.main-screen .bg img {
  position: absolute;
  right: 0;
  top: 0;
  transition: 1s;
}

.main-screen .bg img:nth-child(2) {
  opacity: 0;
}

.main-screen .bg:hover img:nth-child(2) {
  opacity: 1;
}

.about-main {
  background-color: rgba(0, 71, 255, 0.2);
  padding: 100px 0 50px;
  position: relative;
  z-index: 2;
}

.about-main h2 {
  margin-bottom: 35px;
}

.about-main .center {
  padding: 50px 60px;
  position: relative;
  margin-bottom: 20px;
}

.about-main .center p {
  text-align: justify;
}

.about-main .center:before {
  content: "“";
  font-weight: 900;
  font-size: 72px;
  color: #56C5FF;
  position: absolute;
  left: 0;
  top: 0;
}

.about-main .center:after {
  content: "”";
  font-weight: 900;
  font-size: 72px;
  color: #56C5FF;
  position: absolute;
  right: 0;
  bottom: -20px;
}

.target-main {
  padding-top: 100px;
}

.target-main h2 {
  margin-bottom: 50px;
  text-transform: uppercase;
}

.reviews {
  padding: 100px 0 65px;
}

.reviews h2 {
  margin-bottom: 40px;
  text-transform: uppercase;
}

.reviews .btn {
  margin-top: 60px;
}

.reviews .rev-slider {
  width: calc(100% + 30px);
  margin-left: -15px;
}

.reviews .slick-slide {
  padding: 10px 15px 30px;
}

.reviews .box {
  background: #FFFFFF;
  box-shadow: 0px 10px 20px #C8D5EB;
  border-radius: 20px;
  padding: 25px;
}

.reviews .box .top {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.reviews .box .top img {
  width: 80px;
  height: 80px;
  display: block;
  border-radius: 99px;
  margin-right: 25px;
}

.reviews .box .top p {
  font-weight: bold;
  font-size: 18px;
  line-height: 1.22;
}

.reviews .box > p {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
}

.reviews .slick-arrow {
  width: 40px;
  height: 40px;
  border: 2px solid #56C5FF;
  background-color: white;
  transition: 0.3s;
  border-radius: 99px;
  z-index: 3;
}

.reviews .slick-arrow:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 10px;
  height: 10px;
  border: 2px solid #56C5FF;
}

.reviews .slick-arrow:hover {
  background-color: #56c5ff;
}

.reviews .slick-arrow:hover:before {
  border-color: white;
}

.reviews .slick-arrow.slick-prev {
  left: -75px;
}

.reviews .slick-arrow.slick-prev:before {
  -webkit-transform: translateX(-25%) translateY(-50%) rotate(-45deg);
          transform: translateX(-25%) translateY(-50%) rotate(-45deg);
  border-bottom: none;
  border-right: none;
}

.reviews .slick-arrow.slick-next {
  right: -75px;
}

.reviews .slick-arrow.slick-next:before {
  -webkit-transform: translateX(-75%) translateY(-50%) rotate(45deg);
          transform: translateX(-75%) translateY(-50%) rotate(45deg);
  border-bottom: none;
  border-left: none;
}

.request-cont {
  padding-top: 100px;
  padding-bottom: 100px;
}

.request-cont .container {
  display: flex;
  justify-content: space-between;
}

.request-cont .left {
  width: 530px;
}

.request-cont .right {
  width: 410px;
}

.request-cont .right h3 {
  margin-bottom: 30px;
}

.request-cont .right a {
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  transition: 0.3s;
  font-weight: 300;
  font-size: 16px;
  color: #414752;
  margin-bottom: 15px;
}

.request-cont .right a:hover {
  color: #0047FF;
}

.form {
  width: 100%;
}

.form .btn {
  margin-top: 35px;
}

.input-box {
  width: 100%;
  margin-bottom: 10px;
}

.input-box input {
  width: 100%;
  padding: 10px 20px;
  border: none;
  border-bottom: 1px solid #414752;
  color: #414752;
  font-size: 20px;
  font-weight: 700;
  transition: 0.3s;
  background-color: transparent;
}

.input-box input::-webkit-input-placeholder {
  color: rgba(65, 71, 82, 0.4);
}

.input-box input:-ms-input-placeholder {
  color: rgba(65, 71, 82, 0.4);
}

.input-box input::-ms-input-placeholder {
  color: rgba(65, 71, 82, 0.4);
}

.input-box input::placeholder {
  color: rgba(65, 71, 82, 0.4);
}

.input-box input:focus {
  border-color: #0047FF;
}

textarea {
  width: 100%;
  height: 100px;
  resize: none;
  padding: 10px 20px;
  border: none;
  border-bottom: 1px solid #414752;
  color: #414752;
  font-size: 20px;
  font-weight: 700;
  transition: 0.3s;
  background-color: transparent;
}

textarea::-webkit-input-placeholder {
  color: rgba(65, 71, 82, 0.4);
}

textarea:-ms-input-placeholder {
  color: rgba(65, 71, 82, 0.4);
}

textarea::-ms-input-placeholder {
  color: rgba(65, 71, 82, 0.4);
}

textarea::placeholder {
  color: rgba(65, 71, 82, 0.4);
}

textarea:focus {
  border-color: #0047FF;
}

.help-block-error {
  font-size: 14px;
  color: red;
  padding-top: 3px;
}

.contacts-content {
  padding: 100px 0;
}

.contacts-content .container {
  display: flex;
  justify-content: space-between;
}

.contacts-content .left {
  width: 410px;
}

.contacts-content .left h3 {
  margin-bottom: 20px;
  margin-top: 50px;
}

.contacts-content .left h3:first-child {
  margin-top: 0;
}

.contacts-content .left .roo {
  display: flex;
  align-items: center;
}

.contacts-content .left > a,
.contacts-content .left .tels a {
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  transition: 0.3s;
  font-weight: 300;
  font-size: 16px;
  color: #414752;
  margin-bottom: 15px;
}

.contacts-content .left > a:last-child,
.contacts-content .left .tels a:last-child {
  margin-bottom: 0;
}

.contacts-content .left > a:hover,
.contacts-content .left .tels a:hover {
  color: #0047FF;
}

.contacts-content .left .messengers {
  padding-left: 10px;
  display: flex;
  align-items: center;
}

.contacts-content .left .messengers a {
  display: block;
  margin-left: 30px;
  width: 38px;
  height: 33px;
}

.contacts-content .left .messengers a svg {
  width: 100%;
  height: 100%;
}

.contacts-content .left .messengers a svg * {
  fill: #414752;
  transition: 0.3s;
}

.contacts-content .left .messengers a:hover svg * {
  fill: #56C5FF;
}

.contacts-content .left .socials {
  display: flex;
  align-items: center;
}

.contacts-content .left .socials a {
  display: block;
  margin-right: 30px;
  width: 38px;
  height: 33px;
}

.contacts-content .left .socials a svg {
  width: 100%;
  height: 100%;
}

.contacts-content .left .socials a svg * {
  fill: #414752;
  transition: 0.3s;
}

.contacts-content .left .socials a:hover svg * {
  fill: #56C5FF;
}

.contacts-content .left .btn {
  margin-top: 70px;
}

.contacts-content .right {
  width: 630px;
}

.contacts-content .right h2 {
  margin-bottom: 30px;
}

.contacts-content .right .form {
  padding: 30px 50px;
  background-color: rgba(0, 71, 255, 0.2);
  border-radius: 30px;
}

.teacher-cont {
  padding: 100px 0 135px;
  position: relative;
}

.teacher-cont:before {
  content: "";
  z-index: -1;
  position: absolute;
  right: 0;
  bottom: 50%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  width: 330px;
  height: 650px;
  background-image: url("../img/deco_in_right.png");
  background-position: right center;
  background-size: contain;
  background-repeat: no-repeat;
}

.teacher-cont:after {
  content: "";
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  width: 360px;
  height: 500px;
  background-image: url("../img/deco_in_left.png");
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat;
}

.teacher-cont .box {
  display: flex;
  align-items: center;
}

.teacher-cont .box img {
  width: 305px;
  max-width: 100%;
  height: 470px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center top;
     object-position: center top;
  box-shadow: 10px 10px 15px rgba(0, 71, 255, 0.15);
  border-radius: 15px;
  display: block;
  margin-right: 40px;
}

.teacher-cont .box .txt {
  width: calc(100% - 345px);
}

.teacher-cont .box .txt h2 {
  margin-bottom: 30px;
}

.teacher-cont .box .txt p {
  font-size: 20px;
}

.teacher-cont .box .txt p a {
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-top: 10px;
}

.teacher-cont .box .txt > a {
  font-size: 16px;
  margin-bottom: 15px;
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  transition: 0.3s;
}

.teacher-cont .box .txt > a:hover {
  color: #56C5FF;
}

.teacher-cont .box .txt h3 {
  margin-top: 30px;
  margin-bottom: 15px;
}

.teacher-cont .box .txt .messengers {
  padding-top: 5px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.teacher-cont .box .txt .messengers a {
  width: 38px;
  height: 33px;
  display: block;
  margin-right: 25px;
}

.teacher-cont .box .txt .messengers a svg {
  width: 100%;
  height: 100%;
}

.teacher-cont .box .txt .messengers a svg * {
  transition: 0.3s;
}

.teacher-cont .box .txt .messengers a:hover svg * {
  fill: #56C5FF;
}

@media screen and (min-width: 1025px) {
  .header .menu-btn {
    display: none !important;
  }

  .blog-grid .box:nth-child(3n) {
    margin-right: 0;
  }
}

@media screen and (max-width: 1920px) {
  .main-screen .bg img {
    width: 73.958vw;
    min-width: 375px;
  }
}

@media screen and (max-width: 1550px) {
  .page-header-inside h1 {
    font-size: 54px;
  }
}

@media screen and (max-width: 1480px) {
  .main-screen:before {
    height: 200px;
  }
}

@media screen and (max-width: 1380px) {
  .page-header-inside h1 {
    font-size: 38px;
  }
}

@media screen and (max-width: 1365px) {
  .reviews .slick-arrow.slick-prev {
    left: -35px;
  }

  .reviews .slick-arrow.slick-next {
    right: -35px;
  }
}

@media screen and (max-width: 1260px) {
  .reviews .slick-arrow.slick-prev {
    left: -10px;
  }

  .reviews .slick-arrow.slick-prev {
    left: calc(50% - 10px);
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    top: 100%;
  }

  .reviews .slick-arrow.slick-next {
    right: -10px;
  }

  .reviews .slick-arrow.slick-next {
    right: calc(50% - 10px);
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    top: 100%;
  }
}

@media screen and (max-width: 1220px) {
  .contacts-content .right {
    width: 500px;
  }
}

@media screen and (max-width: 1150px) {
  .header .menu li {
    margin-right: 35px;
  }

  .header .menu a {
    font-size: 18px;
  }
}

@media screen and (max-width: 1130px) {
  .request-cont .left {
    width: 410px;
  }
}

@media screen and (max-width: 1080px) {
  .footer .bottom .tels {
    display: none;
  }

  .footer .bottom .mess {
    margin-left: auto;
  }

  .contacts-content .right {
    width: 400px;
  }

  .contacts-content .right .form {
    padding: 20px;
  }
}

@media screen and (max-width: 1024px) {
  h2 {
    font-size: 22px;
  }

  h3 {
    font-size: 20px;
  }

  h4,
  h5,
  h6 {
    font-size: 18px;
  }

  .btn p {
    font-size: 18px;
  }

  .page-header-inside {
    margin-top: 70px;
    padding: 50px 0;
    min-height: 140px;
    display: flex;
    align-items: center;
  }

  .page-header-inside .breadcrumbs {
    display: none;
  }

  .page-header-inside h1 {
    font-size: 26px;
  }

  .txt-content p {
    font-size: 14px;
    line-height: 1.3;
    text-align: justify;
  }

  .txt-content ul li {
    font-size: 14px;
  }

  .footer .top-line {
    padding: 20px 0;
  }

  .footer .top-line .container {
    justify-content: center;
  }

  .footer .top-line ul {
    display: none;
  }

  .header {
    padding: 15px 0;
  }

  .header .menu {
    display: none;
    position: absolute;
    left: 0;
    top: 70px;
  }

  .header .menu ul {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 5vw;
    background-color: white;
    top: 70px;
    height: calc(100vh - 70px);
    width: 100vw;
  }

  .header .menu li {
    margin-right: 0;
    margin-bottom: 15px;
  }

  .header .menu #language-menu {
    margin-top: 0;
    margin-bottom: 0;
    position: absolute;
    right: 5vw;
    top: 20px;
    width: 36px;
  }

  .header .menu #language-menu ul {
    position: static;
    padding: 0;
  }

  .header.white .menu a {
    color: #414752;
  }

  .header.white .menu a:hover {
    color: #56C5FF;
  }

  .header.white .menu #language-menu > a {
    color: #56C5FF;
  }

  .page-blog {
    padding-bottom: 50px;
  }

  .page-blog .page-header-inside + section:before {
    width: 150px;
    height: 220px;
  }

  .blog-block h2 {
    padding-top: 40px;
    padding-bottom: 25px;
  }

  .blog-grid .box img {
    height: 120px;
  }

  .blog-grid .box > p {
    margin-bottom: 20px;
  }

  .pagination .container {
    padding-top: 40px;
  }

  .content-single {
    padding-top: 50px;
  }

  .content-single .container {
    padding-right: 0;
  }

  .aside-blog {
    position: static;
    margin-left: 5vw;
    margin-bottom: 5vw;
    float: right;
  }

  .post-footer {
    padding-top: 50px;
  }

  .post-footer .share p {
    font-size: 20px;
  }

  .post-footer .row-btns a {
    font-size: 20px;
  }

  .page-history {
    padding-bottom: 50px;
  }

  .page-history .content {
    padding-top: 50px;
  }

  .page-history:before {
    width: 165px;
    height: 325px;
  }

  .page-history .page-header-inside + section:before {
    width: 150px;
    height: 220px;
  }

  .target-main {
    padding-top: 50px;
  }

  .target-main h2 {
    margin-bottom: 30px;
  }

  .reviews {
    padding-top: 50px;
  }

  .reviews h2 {
    margin-bottom: 25px;
  }

  .request-cont {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .contacts-content {
    padding: 40px 0;
  }

  .teacher-cont {
    padding: 50px 0;
  }

  .teacher-cont:before {
    width: 165px;
    height: 325px;
  }

  .teacher-cont:after {
    display: none;
  }
}

@media screen and (max-width: 960px) {
  .request-cont .container {
    flex-direction: column;
  }

  .request-cont .left {
    width: 100%;
    margin-bottom: 30px;
  }

  .request-cont .right {
    width: 100%;
  }
}

@media screen and (max-width: 940px) {
  .page-history .row-flex .left {
    display: none;
  }

  .page-history .row-flex .right {
    width: 100%;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 870px) {
  .contacts-content .container {
    flex-direction: column;
  }

  .contacts-content .left {
    width: 100%;
  }

  .contacts-content .left .btn {
    margin-top: 30px;
  }

  .contacts-content .right {
    width: 100%;
    margin-top: 30px;
  }
}

@media screen and (max-width: 770px) {
  .teacher-cont:before {
    -webkit-transform: none;
            transform: none;
    bottom: unset;
    top: 50px;
  }

  .teacher-cont .box {
    flex-direction: column;
    align-items: flex-start;
  }

  .teacher-cont .box .txt {
    width: 100%;
    padding-top: 20px;
  }

  .teacher-cont .box .txt h2 {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 768px) {
  .aside-blog .date {
    width: 40px;
    height: 40px;
  }

  .aside-blog .date p:nth-child(1) {
    font-size: 20px;
  }

  .aside-blog .date p:nth-child(2) {
    font-size: 10px;
  }

  .aside-blog a {
    width: 25px;
    height: 25px;
    margin-top: 20px;
  }

  .main-screen h1 {
    font-size: 36px;
  }

  .main-screen p {
    font-size: 20px;
  }

  .input-box input {
    font-size: 16px;
  }

  textarea {
    font-size: 16px;
  }

  .help-block-error {
    font-size: 12px;
  }

  .teacher-cont .box .txt p {
    font-size: 14px;
  }
}

@media screen and (max-width: 760px) {
  .txt-content ul li {
    padding-left: 30px;
  }

  .txt-content ul li:before {
    width: 23px;
    height: 20px;
    top: 5px;
  }

  .footer .bottom .container {
    flex-direction: column;
  }

  .footer .bottom .tels {
    display: flex;
    flex-direction: column;
    margin: 15px auto 0;
  }

  .footer .bottom .tels:before {
    display: none;
  }

  .footer .bottom .tels a {
    margin-bottom: 10px;
    margin-left: 0;
  }

  .footer .bottom .tels a:last-child {
    margin-bottom: 0;
  }

  .footer .bottom .mess {
    margin: 15px 0;
  }

  .footer .bottom .mess a:first-child {
    margin-left: 0;
  }

  .footer .bottom .mail {
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 15px;
  }

  .footer .bottom .mail:before {
    display: none;
  }

  .footer .bottom .soc {
    margin-left: 0;
  }

  .page-history .row-flex .right li {
    padding-left: 30px;
  }

  .page-history .row-flex .right li {
    margin-bottom: 20px;
  }

  .page-history .row-flex .right li:before {
    width: 15px;
    height: 17.5px;
    top: 9px;
  }

  .page-history .dop-hist .container {
    flex-direction: column-reverse;
  }

  .page-history .dop-hist .container > p {
    margin-bottom: 20px;
    margin-left: auto;
  }
}

@media screen and (max-width: 720px) {
  .blog-grid .box {
    width: 100%;
    margin-right: 0;
  }
}

@media screen and (max-width: 650px) {
  .page-header-inside {
    padding: 25px 0;
  }

  .post-footer .share p {
    font-size: 17px;
  }

  .post-footer .row-btns {
    flex-direction: column;
    align-items: flex-start;
  }

  .post-footer .row-btns a {
    font-size: 17px;
  }

  .post-footer .row-btns a:nth-child(2) {
    margin-left: auto;
    margin-top: 20px;
  }

  .about-main {
    padding: 40px 0;
  }

  .about-main h2 {
    margin-bottom: 20px;
  }

  .about-main .center {
    padding: 35px 0 20px;
  }

  .about-main .center:before {
    font-size: 40px;
  }

  .about-main .center:after {
    font-size: 40px;
  }
}

@media screen and (max-width: 620px) {
  .pagination .container ul > * {
    width: 30px;
    height: 30px;
  }

  .pagination .container ul > * a,
  .pagination .container ul > * span {
    font-size: 14px;
  }

  .pagination .container ul > * {
    margin-right: 10px;
  }

  .pagination .container .dots {
    font-size: 14px;
    margin-right: 10px;
  }
}

@media screen and (max-width: 420px) {
  .blog-grid .box h3 {
    font-size: 18px;
  }

  .blog-grid .box > p {
    font-size: 14px;
  }

  .blog-grid .box .btn p {
    padding: 8px;
    font-size: 16px;
  }

  .page-history .dop-hist a p {
    font-size: 16px;
    padding: 13px 20px;
  }

  .contacts-content .left .roo {
    flex-direction: column;
    align-items: flex-start;
  }

  .contacts-content .left .messengers {
    padding-top: 20px;
    padding-left: 0;
  }

  .contacts-content .left .messengers a:first-child {
    margin-left: 0;
  }

  .contacts-content .right .form {
    padding: 0;
    background-color: transparent;
  }
}

@media screen and (max-width: 350px) {
  .teacher-cont .box img {
    height: 430px;
  }
}

@media screen and (min-width: 721px) and (max-width: 1024px) {
  .blog-grid .box {
    width: calc(50% - 15px);
  }

  .blog-grid .box:nth-child(2n) {
    margin-right: 0;
  }
}